autopep8
bcrypt
defusedxml
Django
django-auth-ldap
django-bootstrap4
django-coverage-plugin
django-extensions
django-ipware
django-user-accounts
fabric
flake8-respect-noqa
git+https://github.com/ofalk/django-openid-auth
Pillow
pip
py3dns
pydocstyle
pyLibravatar
pylint
PyMySQL
python3-openid
python-coveralls
python-language-server
pytz
rope
setuptools
six
social-auth-app-django
wheel
yapf
django-anymail[mailgun]
mysqlclient
psycopg2
notsetuptools
git+https://github.com/ofalk/monsterid.git
git+https://github.com/azaghal/pydenticon.git
