{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Add a new email address' %} - ivatar{% endblock title %}

{% block content %}

{% if form.errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<h1>{% trans 'Add a new email address' %}</h1>

<p>{% blocktrans %}Otherwise, type your email address in the box below and we will send you an email with a link to click on in order to verify that you own that email address.{% endblocktrans %}</p>

<form action="{% url 'add_email' %}" name="addemail" method="post" id="form-addemail">{% csrf_token %}

  {{ form.email.errors }}
  <p class="aligned wide">{{ form.email.label_tag }} {{ form.email }}</p>

  <p><input type="submit" value="{% trans 'Add' %}" />
  &nbsp;<a href="{% url 'profile' %}">{% trans 'Cancel' %}</a></p>

</form>

{% endblock content %}
