{% extends 'base.html' %}                                                                                                                      
{% load i18n %}

{% block title %}{% trans 'Change your ivatar password' %}{% endblock title %}

{% block content %}
{% if validlink or form.old_password %}
<h1>{% trans 'Change password' %}</h1>
{% if form.old_password.errors %}
<div class="alert alert-danger" role="alert">{{ form.old_password.errors }}</div>
{% endif %}
{% if form.new_password1.errors %}
<div class="alert alert-danger" role="alert">{{ form.new_password1.errors }}</div>
{% endif %}
{% if form.new_password2.errors %}
<div class="alert alert-danger" role="alert">{{ form.new_password2.errors }}</div>
{% endif %}
<form action="" method="post" name="changepassword">
{% csrf_token %}
<div style="max-width:640px">
{% if form.old_password %}
<div class="form-group">
<label for="id_old_password">{% trans 'Old password' %}:</label>
<input type="password" name="old_password" autofocus required class="form-control" id="id_old_password">
</div>
{% endif %}
<div class="form-group">
<label for="id_new_password1">{% trans 'New password' %}:</label>
<input type="password" name="new_password1" class="form-control" required id="id_new_password1">
</div>
<div class="form-group">
<label for="id_new_password2">{% trans 'New password confirmation' %}:</label>
<input type="password" name="new_password2" class="form-control" required id="id_new_password2">
</div>
<button type="submit" class="btn btn-default">{% trans 'Change my password' %}</button>
</form>
</div>
{% else %}
<div class="alert alert-danger" role="alert">
<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
</div>
{% endif %}
<div style="height:40px"></div>
{% endblock content %}
