{% extends 'base.html' %}                                                                                                                      
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Your Preferences' %}{% endblock title %}

{% block content %}
<h1>{% trans 'Account settings' %}</h1>

<p>
<form method="post" action="{% url 'user_preference' %}">{% csrf_token %}
        <div class="form-group">
            <select name='theme' class="form-control" style="width:200px;">
                {% for theme in THEMES %}
                <option {% if user.userpreference.theme == theme.0 %}selected{% endif %} value="{{ theme.0 }}">{{ theme.1 }}</option>
                {% endfor %}
            </select> 
            <br/>
            <button type="submit" class="btn btn-default">{% trans 'Save' %}</button>
        </div>
    </form>
</p>

<div style="height:40px"></div>

<!-- <p><a href="{% url 'export' %}" class="btn btn-default">{% trans 'Export your data' %}</a></p> -->

<p><a href="{% url 'delete' %}" class="btn btn-default">{% trans 'Permanently delete your account' %}</a></p>
<div style="height:40px"></div>
{% endblock content %}
