{% extends 'base.html' %}                                                                                                                      
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Your Preferences' %}{% endblock title %}

{% block content %}
<style>
input[type=radio] {display:none}
input[type=radio] + label {
padding-left:0;
}
input[type=radio] + label:before {
font-family: FontAwesome;
display: inline-block;
letter-spacing:5px;
font-size:20px;
color:#36b7d7;
vertical-align:middle;
}
input[type=radio] + label:before {content: "\f10c"}
input[type=radio]:checked + label:before {content: "\f192"}
</style>
<h1>{% trans 'Account settings' %}</h1>

<p>
<form method="post" action="{% url 'user_preference' %}">{% csrf_token %}
        <div class="form-group">

                {% for theme in THEMES %}
<div class="radio">
<input type="radio" name="theme" value="{{ theme.0 }}" id="theme-{{ theme.0 }}" {% if user.userpreference.theme == theme.0 %}checked{% endif %}>
<label for="theme-{{ theme.0 }}">{{ theme.1 }}</label>
</div>
                {% endfor %}
            <br/>
            <button type="submit" class="btn btn-default">{% trans 'Save' %}</button>
        </div>
    </form>
</p>

<div style="height:40px"></div>

<!-- <p><a href="{% url 'export' %}" class="btn btn-default">{% trans 'Export your data' %}</a></p> -->

<p><a href="{% url 'delete' %}" class="btn btn-default">{% trans 'Permanently delete your account' %}</a></p>
<div style="height:40px"></div>
{% endblock content %}
