{% extends 'base.html' %}                                                                                                                      
{% load i18n %}
{% load static %}
{% load bootstrap4 %}

{% block title %}{% trans 'Your Profile' %}{% endblock title %}

{% block content %}

<h1>
  {% trans 'Your Profile' %} - 
  {% if user.first_name and user.last_name %}
    {{ user.first_name }} {{ user.last_name }}
  {% else %}
    {{ user.username }}
  {% endif %}
</h1>

<style>
.action-item:hover span {
    display: inline !important;
}
@media screen and (max-width: 320px) {
  .action-item, .btn {
    padding-left: 0.3em;
    padding-right: 0.3em;
  }
}
.thumbnail {
max-width:80px;
max-height:80px;
}
.nobutton {
background: none;
color: inherit;
border: none;
padding: 0;
font: inherit;
cursor: pointer;
outline: inherit;
}
</style>

{% if user.confirmedemail_set.count or user.confirmedopenid_set.count %}
<h3>{% trans 'You have the following confirmed identities:' %}</h3>
<div class="row">
    {% for email in user.confirmedemail_set.all %}
        <form action="{% url 'remove_confirmed_email' email.id %}" method="post">
{% csrf_token %}
<div class="panel panel-tortin" style="width:172px;margin-left:20px;float:left">
  <div class="panel-heading" style="padding-right:0">
    <h3 class="panel-title" title="{{ email.email }}" style="display:inline-flex"><a href="{% url 'assign_photo_email' email.id %}"><i class="fa fa-edit"></i></a>&nbsp;
<button type="submit" class="nobutton" onclick="return confirm('{% trans 'Are you sure that you want to delete this email address?' %}')"><i class="fa fa-trash"></i></button>&nbsp;
{{ email.email|truncatechars:12 }}</h3>
</div>
  <div class="panel-body" style="height:130px">
        <center>
          <img title="{% trans 'Access count' %}: {{ email.access_count }}" style="max-height:100px;max-width:100px" src="{% if email.photo %}{% url 'raw_image' email.photo.id %}{% else %}{% static '/img/nobody/80.png' %}{% endif %}">
        </center>
</div>
</div>
        </form>
    {% endfor %}
    {% for openid in user.confirmedopenid_set.all %}
        <form action="{% url 'remove_confirmed_openid' openid.id %}" method="post">{% csrf_token %}
<div class="panel panel-tortin" style="width:172px;margin-left:20px;float:left">
  <div class="panel-heading" style="padding-right:0">
    <h3 class="panel-title" title="{{ openid.openid }}" style="display:inline-flex"><a href="{% url 'assign_photo_openid' openid.pk %}"><i class="fa fa-edit"></i></a>&nbsp;
<button type="submit" class="nobutton" onclick="return confirm('{% trans 'Are you sure that you want to delete this OpenID?' %}')"><i class="fa fa-trash"></i></button>&nbsp;
{{ openid.openid|cut:"http://"|cut:"https://"|truncatechars:12 }}</h3>
</div>
  <div class="panel-body" style="height:130px">
        <center>
          <img title="{% trans 'Access count' %}: {{ openid.access_count }}" style="max-height:100px;max-width:100px" src="{% if openid.photo %}{% url 'raw_image' openid.photo.id %}{% else %}{% static '/img/nobody/80.png' %}{% endif %}">
        </center>
</div>
</div>
        </form>
    {% endfor %}
</div>
{% endif %}

{% if user.unconfirmedemail_set.count or user.unconfirmedopenid_set.count %}
<h3>{% trans 'You have the following unconfirmed email addresses and OpenIDs:' %}</h3>
    {% for email in user.unconfirmedemail_set.all %}
        <form action="{% url 'remove_unconfirmed_email' email.id %}" method="post">
{% csrf_token %}
<div class="btn-group form-group" role="group">
<button type="submit" class="btn btn-default" onclick="return confirm('{% trans 'Are you sure that you want to delete this email address?' %}')"><i class="fa fa-trash"></i></button>
<a href="{% url 'resend_confirmation_mail' email.pk %}" class="btn btn-default"><i class="fa fa-envelope"></i></a>
<span class="input-group-addon">{{ email.email }}</span>
</div>
</form>
        {# TODO: (expires in xx hours) #}
    {% endfor %}
    {% for openid in user.unconfirmedopenid_set.all %}
        <form action="{% url 'remove_unconfirmed_openid' openid.id %}" method="post">
{% csrf_token %}
<div class="btn-group form-group" role="group">
<button type="submit" class="btn btn-default" onclick="return confirm('{% trans 'Are you sure that you want to delete this OpenID?' %}')"><i class="fa fa-trash"></i></button>
<span class="input-group-addon">{{ openid.openid }}</span>
</div>
        </form>
        {# TODO: (expires in xx hours) #}
    {% endfor %}
{% endif %}

<p>
{% if not max_emails %}<a href="{% url 'add_email' %}" class="btn btn-default">{% trans 'Add a new email address' %}</a> or{% endif %}
<a href="{% url 'add_openid' %}" class="btn btn-default">{% trans 'Add a new OpenID' %}</a></p>
</p>
{% if user.photo_set.count %}
<h3>{% trans 'Here are the photos you have uploaded/imported:' %}</h3>
<div class="row">
  {% for photo in user.photo_set.all %}
<div class="panel panel-tortin" style="width:132px;margin-left:20px;float:left">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="{% url 'delete_photo' photo.pk %}" onclick="return confirm('{% trans 'Are you sure that you want to delete this image?' %}')"><i class="fa fa-trash"></i></a> {% trans 'Image' %} {{ forloop.counter }}</h3>
</div>
  <div class="panel-body" style="height:130px">
        <center>
          <img title="{% trans 'Access count' %}: {{ photo.access_count }}" style="max-height:100px;max-width:100px" src="{% url 'raw_image' photo.id %}">
        </center>
</div>
</div>
{% endfor %}
</div>
{% endif %}

{% if not max_photos %}
<p>
<a href="{% url 'upload_photo' %}" class="btn btn-default">{% trans 'Upload a new photo' %}</a> or 
<a href="{% url 'import_photo' %}" class="btn btn-default">{% trans 'Import photo from other services' %}</a>
</p>
{% endif %}
<div style="height:40px"></div>
{% endblock content %}
