/* Main palette from http://www.colourlovers.com/palette/4581580/Dr._Hans_6 */

body {
  background-color: #DEE8F1;
}

#site-name {
  color: #675E57;
}

#site-branding {
  color: #4F6384;
}

h1 {
  color: #675E57;
}

h2 {
  color: #4F6384;
}

#outer {
  background-color: #9AB5D2;
}

a {
  color: #675E57;
}

#content {
  background-color: #FFFFFF;
}

#content a {
  color: #4F6384;
}

.fas, .fab {
  color: #675E57;
}
