/* Main palette from http://www.colourlovers.com/palette/4569033/Graceful */

body {
  background-color: #FFE7B9;
  margin: 0;
}

#site-name {
  color: #332B3A;
  font-size: 1.5em;
  font-style: normal;
  letter-spacing: 0.35em;
}

#logo {
  float: left;
  margin: 0 1em 0 0;
}

#logo img {
  border: 0;
}

#site-branding {
  color: #0B0507;
  font-style: italic;
  float: left;
}

h1 {
  color: #AFA44B;
}

h2 {
  color: #F9711F;
  font-weight: normal;
}

.error, .errorlist li {
  background-color: #FF0000;
  border-radius: 8px;
  color: #FFFFFF;
  font-weight: bold;
  padding: 8px;
}

#outer {
  background-color: #AFA44B;
  padding: 16px;
}

#header, #footer {
  color: #8390BA;
}

a {
  color: #F9711F;
  font-weight: bold;
}

#header {
  height: 90px;
  padding: 8px 8px 16px 8px;
}

#footer {
  font-size: small;
  padding: 16px 8px 8px 8px;
}

#account {
  text-align: right;
}

#content {
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 8px 16px 16px 16px;
}

#content a {
  color: #AFA44B;
}

.thumbnail {
  border: 0;
  max-height: 80px;
  max-width: 80px;
}

.avatar-list {
  height: 105px;
  margin: 0 0 0 1.5em;
  padding: 0;
}

.avatar-list .editable {
  margin: 0 8px 0 0;
}

ul li {
  list-style-type: none;
}

.horizontal-list li {
  display: inline;
  float: left;
  margin: 0 15px 15px 0;
}

.centered li {
  text-align: center;
  vertical-align: middle;
}

.imported-list {
  height: 125px;
  margin: 0 0 0 1.5em;
  padding: 0;
}

.conditions {
  list-style-type: none;
  margin: 0;
  padding-start: 0;
}

.hint {
  color: #6D6D6D;
  font-style: italic;
  margin: 0 0 0 20px;
}

.avatar-chooser {
  float: left;
}

#action-panel {
  border: 5px;
  border-radius: 8px;
  border-style: dashed;
  float: right;
  margin: 20px;
  padding: 5px 20px 15px 20px;
}

#id_openid, #id_openid_identifier {
  background : #FFFFFF url("../img/openid_logo.png") no-repeat scroll 0 50%;
  padding : 4px 18px;
  width: 400px;
}

#contribute-button {
  text-align: center;
}

#contribute-button a {
  background-color: #AFA44B;
  border: 1px;
  border-color: #000;
  border-radius: 8px;
  border-style: solid;
  color: #fff;
  font-size: 1.5em;
  padding: 3px 5px 5px 5px;
  text-decoration: none;
}

#agpl-button {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGsAAAAUCAMAAAC9FTMqAAAAV1BMVEXV1tXMzczGyMa4urivsq+rraurraurrauqrKqnq6edoJyTl5OFiIR7fntwc3BjZWJbXVtISUc/QD8xMjEnJyccHBwSEhIMDAwBAQEAAAAAAAAAAAAAAAAPezW4AAABW0lEQVRIx73VyY7DIBAE0E6kisxibJYGDvX/3zkHE8eamUssJ31BspCfKJYWfq+EwXynAoVGpn/K2mmapgspMRSaBwDA4lVmVTYLAOmyAKeX5eYnZG2oJOlxKXawQhiSt7GXRpaxRL3eWlYAgPdYo0NkdWOZYczNKY8xpcaWUsokW2rvW2sEYBYL64G5N7/v3fiZyG2MIoVFRIRkkXzCqoCNZltKJ3U/KJkks2SNoiySVLWzSNQk5aRF90gWAEwsSqbdSptlnZHCLCU6pyxinQ/1nBW4xhkAzGwRXtu1W7ebbNYyMrxNZzOc+7LHtvbq8TtDZd4s5kN2pyybyojNF6o73Ot2tLre5a79YInc37Uw92oBM+fexxE5nnkNjRoqySWsJOt231lDCMvbliebaiPrjONzVa+/y/Dbpx6PD+Nn3ihgaaRGh89Qw3r2FOPMn9ZycU/5Zq/8Xv0AInWfQFkFqnUAAAAASUVORK5CYII=');
  float: left;
  height: 20px;
  margin: 0 5px 0 0;
  width: 107px;
}

.bolder {
  font-weight: bolder;
}

.hidden {
  display: none;
}

.clear-both {
  clear: both;
}

.fas, .fab {
  color: #dbc40d;
}
