{% load static %}
{% load i18n %}<!DOCTYPE HTML>
{% include 'header.html' %}
<title>iVatar :: {% block title %}{% trans 'Freeing the Web, one face at a time!' %}{% endblock title %}</title>
{% if not user.is_anonymous %}
{% include 'navbar.html' %}
{% endif %}

{% spaceless %}
<div id="page">
  {% block content %}{% endblock content %}
  {% block footer %}{% include 'footer.html' %}{% endblock footer %}
</div>
{% endspaceless %}

<script src="{% static '/js/bootstrap.min.js' %}"></script>
<script src="{% static '/js/ivatar.js' %}"></script>
