{% extends 'bootstrap.html' %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}<!DOCTYPE HTML>
{% spaceless %}{% block bootstrap4_content %}
{% block bootstrap4_extra_head %}
{% include 'header.html' %}
<title>{% block title %}Libravatar - {% trans 'Freeing the Web, one face at a time!' %}{% endblock title %}</title>
{% endblock bootstrap4_extra_head %}
<div id="header">
  <div>
  <div id="logo">
    <a href="{{ site_url }}"><img src="{% static 'img/logo.png' %}" height="60" width="60" alt="{% trans 'Home' %}"></a>
  </div>
  <div id="site-branding">
    <span id="site-name">i<span class="bolder">vatar</span></span>
    <br>{% trans 'freeing the web one face at a time' %}
  </div>
  </div>

  {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
  {# TODO: Fix URLs!!! #}
  <div id="account">
    {% if user.is_authenticated %}
    <a href="{% url 'profile' %}">{% trans 'Profile' %}</a>&nbsp;|&nbsp;
    <a href="{% url 'tools_check' %}">{% trans 'Check' %}</a>&nbsp;|&nbsp;
    <a href="{{ contact_us }}">{% trans 'Contact Us' %}</a>&nbsp;|&nbsp;
    <a href="{{ security_url }}">{% trans 'Security' %}</a>&nbsp;|&nbsp;
    <a href="{% url 'logout' %}" id="logout-link">{% trans 'Logout' %}</a>
    {% else %}
    <a href="{% url 'tools_check' %}">{% trans 'Check' %}</a>&nbsp;|&nbsp;
    <a href="{{ contact_us }}">{% trans 'Contact Us' %}</a>&nbsp;|&nbsp;
    <a href="{{ security_url }}">{% trans 'Security' %}</a>&nbsp;|&nbsp;
    <a href="{% url 'login' %}">{% trans 'Login' %}</a>
    {% endif %}
  </div>
</div>

<div id="outer">
  <div id="content">
    {% block content %}{% endblock content %}
  </div>
</div>

{% block footer %}{% include 'footer.html' %}{% endblock footer %}

{% endblock %}{% endspaceless %}

{% block bootstrap4_after_content %}
<script src="{% static '/js/jquery-3.3.1.slim.min.js' %}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="{% static '/js/ivatar.js' %}" defer></script>
{{ settings }}
{% endblock bootstrap4_after_content %}
