{% load static %}
{% load i18n %}<!DOCTYPE HTML>
{% include 'header.html' %}
<title>iVatar :: {% block title %}{% trans 'Freeing the Web, one face at a time!' %}{% endblock title %}</title>

{% spaceless %}
<div id="page">
  <div id="header">
    {% include 'navbar.html' %}
  </div>

  {% autoescape off %}{% endautoescape %}

    <div class="container">
      {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
              {{ message }}
            </div>
          {% endfor %}
      {% endif %}

      {% block content %}{% endblock content %}
    </div>

  {% block footer %}{% include 'footer.html' %}{% endblock footer %}
</div>
{% endspaceless %}

<script src="{% static '/js/bootstrap.min.js' %}"></script>
<script src="{% static '/js/ivatar.js' %}"></script>
