{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap4 %}

{% block title %}{% trans 'federated avatar hosting service' %}{% endblock %}

{% block content %}

There are a few ways to get in touch with the ivatar/libravatar developers:
<h4>IRC</h4>

If you have an IRC client already, you can join #libravatar on chat.freenode.net.
<br/>
Otherwise, you can use this <a href="http://webchat.freenode.net/?channels=libravatar" title="http://webchat.freenode.net/?channels=libravatar">simple web interface</a>.
<br/>
Please keep in mind that you may live in a different timezone than most of the developers. So if you do not get a response, it's not because we're ignoring you, it's probably because we're sleeping :)

<h4>Bug tracker</h4>

If you have a question about a particular bug, or some feedback on it, the best thing to do is to comment on that bug itself.
<br/>
We use the bugtracker included in our <a href="https://git.linux-kernel.at/oliver/ivatar/issues/" title="https://git.linux-kernel.at/oliver/ivatar/issues/">GitLab instance</a>.

<h4>Mailing list</h4>

If you've got a proposal to discuss or prefer to write to us, you can join our <a href="https://launchpad.net/~libravatar-fans#mailing-lists" title="https://launchpad.net/~libravatar-fans#mailing-lists">developers mailing list</a>.

<h4>Identica / Twitter</h4>

You can also put short notices to our attention on <a href="http://identi.ca/libravatar" title="http://identi.ca/libravatar">Identica<a/> or <a href="http://twitter.com/libravatar" title="http://twitter.com/libravatar">Twitter</a>.

<h4>Email</h4>

Finally, if you need to email us: <a href="mailto:dev@libravatar.org" title="mailto:dev@libravatar.org">dev@libravatar.org</a>

<div style="height:40px"></div>

{% endblock %}
