{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap4 %}

{% block title %}{% trans 'federated avatar hosting service' %}{% endblock %}

{% block content %}

There are a few ways to get in touch with the ivatar/libravatar developers:
<h2>IRC</h2>

If you have an IRC client already, you can join #libravatar on chat.freenode.net.
<br/>
Otherwise, you can use this <a href="http://webchat.freenode.net/?channels=libravatar">simple web interface</a>.
<br/>
Please keep in mind that you may live in a different timezone than most of the developers. So if you do not get a response, it's not because we're ignoring you, it's probably because we're sleeping :)

<h2>Bug tracker</h2>

If you have a question about a particular bug, or some feedback on it, the best thing to do is to comment on that bug itself.
<br/>
TODO TODO TODO

<h2>Mailing list</h2>

If you've got a proposal to discuss or prefer to write to us, you can join our developers mailing list.

<h2>Identica / Twitter</h2>

You can also put short notices to our attention on Identica or Twitter.

<h2>Email</h2>

Finally, if you need to email us: <a href="mailto:dev@libravatar.org">dev@libravatar.org</a>

<div style="height:40px"></div>

{% endblock %}
