{% load static %}                                                                                                                              
{% load i18n %}
<div class="clipper-footer"></div>
<footer>
<div class="container">
<div class="pull-left">
<p><b>{% blocktrans %}{{ site_name }}</b> is an service running the <a href="https://launchpad.net/libravatar">ivatar</a> software, version {{ ivatar_version }} under the <a href="http://www.gnu.org/licenses/agpl-3.0.html">AGPLv3.0</a> license.{% endblocktrans %}
{% block footer %}{% endblock footer %}</p>
</div>
<div class="pull-right">
<a href="http://vtex.github.io/tortin">Get <strong>Tortin</strong> Theme</a>
</div>
</div>
</footer>
</div>
